body
{
    background-color: darkgrey;
}

#heading
{
    width: 100%;
    height: 75px;
    background-color: bisque;
}

#content
{
    width: 75%;
    height: 520px;
    background-color: floralwhite;
    float: left;
}

#navigation
{
    width: 23%;
    height: 520px;
    background-color: gainsboro;
    float: right;
}

#footer
{
    width: 100%;
    height: 75px;
    background-color: dimgrey;
    margin-top: 530px;
}